name: Build and Docker

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Set-up Gradle
      uses: gradle/gradle-build-action@v2        
    - name: Build with Gradle
      run: ./gradlew clean build
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
#    - name: Build Docker image
#      run: |
#        docker build -t demo-app:${{ github.sha }} .
#        docker tag demo-app:${{ github.sha }} demo-app:latest
        
    # Optional: Push to Docker Hub (uncomment and configure)
    # - name: Log in to Docker Hub
    #   uses: docker/login-action@v3
    #   with:
    #     username: ${{ secrets.DOCKER_USERNAME }}
    #     password: ${{ secrets.DOCKER_PASSWORD }}
    #     
    # - name: Push to Docker Hub
    #   run: |
    #     docker push demo-app:${{ github.sha }}
    #     docker push demo-app:latest
